/* .square {
  width: 50%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
} */
.square {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: auto;
}
.circle {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: auto;
  border-radius: 50px;
}
.parallelogram {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: auto;
  transform: skew(-20deg);
}
.triangle {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin: auto;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 75px solid grey;
}
.isosceles-triangle {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin: auto;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid grey;
}
.right-triangle {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin: auto;
  border-left: 0px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid grey;
}
.trapezium {
  width: 100px;
  /* height: 20px; */
  margin: auto;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid grey;
}

/*sticky footer flexbox*/
/* html, body {
  /* IE 10-11 didn't like using min-height /
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
/*   flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. *
  padding: 20px;
}
.footer {
  margin-top: auto;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. *
  padding: 20px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 16px Sans-Serif;
}
h1 {
  margin: 0 0 20px 0;
}
p {
  margin: 0 0 20px 0;
}
footer {
  background: #42A5F5;
  color: white;
} */

/* sticky footer with css grid */
/* html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.content {
  padding: 20px;
}
.footer {
  grid-row-start: 3;
  grid-row-end: 4;
}





* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 16px Sans-Serif;
}
h1 {
  margin: 0 0 20px 0;
}
p {
  margin: 0 0 20px 0;
}
.footer {
  background: #42A5F5;
  color: white;
  padding: 20px;
} */
